<% @users.each do |user|  %>


<div class="blog-post medium">

                <div class="row">
                  <div class="col-sm-8">
                    <div class="post-cover">
                      <a href="blog-post.html">
                        <img src="<%= user.image %>" alt="simple post cover" />
                      </a>
                    </div>
                  </div>
                 
                  <div class="col-sm-16">
                    <div class="post-header">
                      <p class="categories"></p>

                      <h2 class="post-title">
                        <a href="blog-post.html"><i><%= user.first_name %>&nbsp<%= user.last_name%></i></a>
                      </h2>

                      <ul class="post-meta">
                        <li class="date">Member Since: <%= user.created_at.to_formatted_s(:long) %></li>
                        <li class="author"> Projects Posted (<a href="#"><%= user.projects.length %>)</a></li>
                        <li class="comments"><a href="#">Friends (#)</a></li>
                      </ul>
                    </div>

                    <div class="post-body">
                      <p><%= 
                       %>Bio --------- </p>
                         


                          
                          <div>
                            

                          </div>
                           
                          <div>
                          <% if Follower.find_by(follower_id: current_user.id, user_id: user.id) %>
                            <%= form_tag "/followers/#{user.id}", method: :delete do %>
                            <%= hidden_field_tag "user_id", user.id %>
                            <%= submit_tag "unfollow", class:"btn template-btn-2" %>
                            <% end %>

                          <% else %>
                            <%= form_tag "/followers", method: :post do %>
                            <%= hidden_field_tag "user_id", user.id %>
                            <%= submit_tag "follow", class:"btn template-btn-2" %>
                            <% end %>
                          <% end %>
                          </div>




                    </div>
                  </div>
                </div>
             
             </div>

                  <% end %>
