<div class="users blog-post medium">

                <div class="row">
                  <div class="col-sm-8">
                    <div class="post-cover">
                      
                        <img src="<%= @users.image %>" alt="simple post cover" />
                      </a>
                    </div>
                  </div>
                
                  <div class="col-sm-16">
                    <div class="post-header">
                      <p class="categories"></p>

                      <h2 class="post-title">
                        <i><%= @users.first_name %>&nbsp<%= @users.last_name%></i></a>
                      </h2>

                      <ul class="post-meta">
                        <li class="date">Member Since: <%= @users.created_at.to_formatted_s(:long) %></li>
                        <li class="author">by&nbsp<%= @users.first_name%>&nbsp<%= @users.last_name %></a></li>
                        <li class="comments">
                        <a href="#">Friends
                     
                         (<%= @users.followers.length %>)
                    
                        </a>
                        </li>

                      </ul>
                    </div>

                    <div class="post-body">
                      <p><%= 
                       %></p>
                      

                     
        <% if current_user != @users %>      
          <% if Follower.find_by(follower_id: current_user.id, user_id: @users.id) %>
            <%= form_tag "/followers/#{user.id}", method: :delete do %>
              <%= hidden_field_tag "user_id", @users.id %>
              <%= submit_tag "unfollow", class:"btn template-btn-2" %>
            <% end %>

          <% else %>
            <%= form_tag "/followers", method: :post do %>
              <%= hidden_field_tag "user_id", @users.id %>
              <%= submit_tag "follow", class:"btn template-btn-2" %>
            <% end %>          
                                    
          <% end %>
        <% end %>
   
                    </div>
                  </div>
                </div>
             
             </div>

             
