<div class="main-slider">
  <ul class="items clean-list">


    <li class="item gallery-cell">
      <img width="840" height="542" src="<%= @project1.project_images.first.url %>" alt="slider item cover" />
      <div class="slide-components">
        <h3 class="title slide-component first-row"><a href="/projects/<%= @project1.id %>"><%= @project1.name %></a></h3>
        <hr class="slide-component second-row" />
        <a href="/projects/<%= @project1.id %>" class="link slide-component third-row">Read more</a>
      </div>
    </li>

    <li class="item gallery-cell">
      <img width="840" height="542" src="<%= @project2.project_images.first.url %>" alt="slider item cover" />
      <div class="slide-components">
        <h3 class="title slide-component first-row"><a href="/projects/<%= @project2.id %>"><%= @project2.name %></a></h3>
        <hr class="slide-component second-row" />
        <a href="/projects/<%= @project2.id %>" class="link slide-component third-row">Read more</a>
      </div>
    </li>

    <li class="item gallery-cell">
      <img width="840" height="542" src="<%= @project3.project_images.first.url %>" alt="slider item cover" />
      <div class="slide-components">
        <h3 class="title slide-component first-row"><a href="/projects/<%= @project3.id %>"><%= @project3.name %></a></h3>
        <hr class="slide-component second-row" />
        <a href="/projects/<%= @project3.id %>" class="link slide-component third-row">Read more</a>
      </div>
    </li>
    


  </ul>
</div>
<%= @projects.each do |project|%>
<% project.project_images.each do |image|%>
<div class="blog-post medium">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="post-cover">
                      <a href="blog-post.html">
                        <img src="<%= image.url %>" alt="simple post cover" />
                      </a>
                    </div>
                  </div>
                 
                  <div class="col-sm-16">
                    <div class="post-header">
                      <p class="categories"><a href="#">Fashion</a> / <a href="#">lifestyle</a></p>

                      <h2 class="post-title">
                        <a href="blog-post.html">Project Name : <i><%= project.name %></i></a>
                      </h2>

                      <ul class="post-meta">
                        <li class="date">jul 14, 2015</li>
                        <li class="author">by <a href="#">Admin</a></li>
                        <li class="comments"><a href="#">Comments (1)</a></li>
                      </ul>
                    </div>

                    <div class="post-body">
                      <p>Maecenas eleifend tristique malesuada. Aliquam egestas neque a vestibulum laoreet. Nam rutrum nulla posuere magna interdum fermentum.</p>

                      <a href="blog-post.html" class="btn template-btn-2">Read more</a>
                    </div>
                  </div>
                </div>
              
          <% end %>
          <% end %> 
          </div>   
              

