<h1> LETS CREATE </h1>
<h2> All Projects </h2>
  <div>
    Logged in:
    <%= @current_user.first_name %>
    <%= @current_user.last_name %>
  </div>

<%= form_tag "/search", method: :post do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>
 
