
<table>
<% @projects.each do |project|%>



<div class="blog-post medium">

                <div class="row">
                  <div class="col-sm-8">
                    <div class="post-cover">
                      <a href="blog-post.html">
                        <img src="<%= project.project_images.first.url %>" alt="simple post cover" />
                      </a>
                    </div>
                  </div>
                 
                  <div class="col-sm-16">
                    <div class="post-header">
                      <p class="categories"><a href="#">Fashion</a> / <a href="#">lifestyle</a></p>

                      <h2 class="post-title">
                        <a href="blog-post.html">Project Name : <i><%= project.name %></i></a>
                      </h2>

                      <ul class="post-meta">
                        <li class="date">Created: <%= project.created_at.to_formatted_s(:long) %></li>
                        <li class="author">by <a href="#"><%= project.user.first_name%>&nbsp<%= project.user.last_name %></a></li>
                        <li class="comments"><a href="#">Comments (1)</a></li>
                      </ul>
                    </div>

                    <div class="post-body">
                    <% project.instructions.each do |instruction| %>
                      <p><%= instruction.description
                       %></p>
                        <% end %>
                      <a href="blog-post.html" class="btn template-btn-2">Read more</a>
                    </div>
                  </div>
                </div>
             
             </div>
             <% end %>
          
          
            </table>
          