<h1> LETS CREATE </h1>
<h2> All Projects </h2>
  <div>
    Logged in:
    <%= @current_user.first_name %>
    <%= @current_user.last_name %>
  </div>

<%= form_tag "/search", method: :post do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>
 

  <div class="post-cover">
    <a href="blog-post.html">
      <% @projects.each do |project| %>
        <h2><%= link_to project.name,"/projects/#{project.id}" %></h2>
          <% project.project_images.each do |image|%>                           
            <img src="<%= image.url %>" alt="simple post cover" />
              
    </a>
  </div>

  <div class="post-body">
                          <p>Molestie neque. Integer laoreet ac nisl vel lobortis. Aliquam erat volutpat. Vivamus enim nibh...</p>

                          <div class="align-center">
                            <a href="blog-post.html" class="btn template-btn-2">Read more</a>
                <% end %>
                <% end %>
                          </div>
                          </div>