

<div>
  <h2>
</div>


<div>
  <h4></h4>
</div>

<div>
  <h4>
  <%= @projects.instructions.first.description %></h4>
</div>

 


<li class="item gallery-cell">
            <img src= "<%= @projects.project_images.first.url %>" />
            <div class="slide-components">
              <h3 class="title slide-component first-row"><a href="blog-post.html">Project Name: <%=  @projects.name%></h></h3>
              <hr class="slide-component second-row" />
              <a href="blog-post.html" class="link slide-component third-row"></a>
            </div>
          </li>







<div>
  <%= link_to "Edit Project", "/projects/#{@projects.id}/edit" %>
</div>

<div>
  <%= link_to "Delete Project", "/projects/#{@projects.id}", method: :delete %>
</div>




