

<div>
  <h2>Project Name: <%=  @projects.name%></h>
</div>


<div>
  <h4><img src= "<%= @projects.project_images.first.url %>" /></h4>
</div>

<div>
  <h4>Description: <% %><%= @instructions.description %></h4>
</div>

 






<div>
  <%= link_to "Edit Project", "/projects/#{@projects.id}/edit" %>
</div>

<div>
  <%= link_to "Delete Project", "/projects/#{@projects.id}", method: :delete %>
</div>




