
<h1>Create New follower</h1>

<%= form_tag "/followers", method: :post do %>
  <div>
    <%= label_tag :user_id, "Followee" %>
    <%= text_field_tag :user_id, @current_user.id %>

  </div>
    <%= label_tag :follower_id, "Follower" %>
    <%= text_field_tag :follower_id   %>
  <div>
    
    <%= submit_tag "follow" %>
  </div>
<% end %>


